.singlePage_main_div{
    display: flex;   
    background-color: #070b34;
    border-radius: 1.5rem;
    width: 90vw;
    margin:auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border:1px solid rgb(190, 199, 241);
}

.singlePage_main_div >div{
    text-align: justify;
    padding:1rem;
}

.product_name{
    font-size: 2rem;
}
.product_image{
    width:80rem;
    border-radius: .8rem;
    height: 20rem;
}

.all_p{
    font-size: 1rem;
}
.product_info_div{
    /* width:300px */
}

.product_description{
    font-size: 1rem;
    /* padding:1rem; */
    /* line-height: 2rem; */
    padding-bottom: 1rem;

}

/* for small screen */
@media only screen and (min-width: 0) and (max-width: 580px) {
	.singlePage_main_div{
        grid-template-columns: 1fr
    }
    .product_description{
        /* font-size: 15px; */
        line-height: 1.5rem
    }
    .product_info_div{
        line-height: 35px;
    }
    
    .product_name{
        font-size: 1.5rem
    }
}
/* for medium screen */
@media only screen and (min-width: 581px) and (max-width: 880px) {
	.singlePage_main_div{
        grid-template-columns: repeat(2,1fr);
    }
    .product_description{
        /* font-size: 20px; */
        line-height: 2rem;
    }
    .product_info_div{
        line-height: 40px;
    }
    .product_name{
        font-size: 1.7rem
    }

}