/* -----------cart button-------- */
.cartBtn {
	display: block;
	position: relative;
}
.cartBtn p {
	position: absolute;
	top: 0em;
	left: 0em;
	background-color: #8f0005;
	border-radius: 50%;
	padding: 1em;
}
.cartBtn button {
	position: absolute;
	bottom: 0em;
	right: 0em;
	background-color: #151945;
	border-radius: 1.5em;
	color: white;
	padding: 1em 1.2em;
}
/* --------image Hovered image class name zoom-------- */
.zoom {
	transition: transform 0.2s;
	object-fit: cover;
	padding-top: .4rem;
	width: 15rem;
	height: 16em;
	border-radius: .6rem;
	margin: 0 auto;
}
.zoom:hover {
	transform: scale(1.1);
}

/* ---------------- product card styleing ------------------------ */
.all_box {
	background: #070b34;
	border-radius: 1rem;
	width: 16rem;
}
.all_box:hover {
	box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

@media only screen and (min-width: 0px) and (max-width: 580px) {
	.main_div {
		display: grid;
    /* grid-template-rows: 1fr 1fr; */
		grid-template-areas: "main main main";
		
		grid-gap: 0.2rem;
		
	}
	.side {
		background-color: #070b34;
		padding: 0px 0.5rem;
		grid-area: side;
		position: sticky;
		height: auto;
	}
	.main {
		grid-area: main;
	}
}

@media only screen and (min-width: 580px) and (max-width: 880px) {
	.flex_box {
		grid-template-columns: repeat(3, 1fr);
	}

	.main_flex_box {
		grid-template-columns: 30% 70%;
	}
}

.main_div {
	display: grid;
	grid-template-areas: "side main main main";
	grid-gap: 0.2rem;
	/* position: absolute; */
}
.side {
	background-color: #070b34;
	padding: 0px 2rem;
	grid-area: side;
	position: sticky;
	width: 20rem;
	min-height: 100vh;
}
.main {
	grid-area: main;
}

.main_div{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}