/* -----------cart button-------- */
.cartBtn {
	display: block;
	position: relative;
}
.cartBtn p {
	position: absolute;
	top: 0em;
	left: 0em;
	background-color: #8f0005;
	border-radius: 50%;
	padding: 1em;
}
.cartBtn button {
	position: absolute;
	bottom: 0em;
	right: 0em;
	background-color: #151945;
	border-radius: 1.5em;
	color: white;
	padding: 1em 1.2em;
}
/* --------image Hovered image class name zoom-------- */
.zoom {
	transition: transform 0.2s;
	width: 200px;
	height: 200px;
	border-radius: 1rem;
	margin: 0 auto;
}
.zoom:hover {
	transform: scale(1.1);
}
/* ---------------- product card styleing ------------------------ */
.all_box {
	background: #070b34;
	border-radius: 2rem;
}
.all_box:hover {
	box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}


@media only screen and (min-width: 0px) and (max-width: 580px) {
	.main_flex_box {
		grid-template-columns: 1fr;
		margin: auto;
	}
}

@media only screen and (min-width: 580px) and (max-width: 880px) {
	.flex_box {
		grid-template-columns: repeat(3, 1fr);
	}

	.main_flex_box {
		grid-template-columns: 30% 70%;
	}
}

.main_div {
	display: grid;
	grid-template-areas: "side main main main";
	grid-gap: 0.2rem;
  /* position: absolute; */
}
.side {
	background-color: #070b34;
  padding:0px .5rem;
	grid-area: side;
	position: sticky;
  height:90vh;
}
.main {
	grid-area: main;
}
