
.label{
    font-size: 1.2rem;
}
.allHeading{
    font-size: 1.5rem !important;
    margin-top:2.5rem;
}
.main_box_input{
    display: flex;
    gap: 0.3rem;
}
.main_box_input:hover{
    cursor: pointer;
    text-decoration: underline;
    color: brown;
}
.main_div{
    position: sticky;
    top: 10px;
    margin-top: 20px;
}
.Filter_main_div{
    line-height: 2.2rem;
    font-size: 20px;
}