@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;1,200;1,300&display=swap");

header {
  width: 100%;
  background-color: #070b34;
  background-blend-mode: multiply, screen, normal;
}

.main_div {
  position: sticky;
  top: 0;
  z-index: 999;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0px 30px;
}

header .nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: "Jost", sans-serif;
  padding: 10px 11px;
}

.nav_elem {
  font-size: 25px;
}

.mobileNav {
  background-color: #070b34;
  padding: 10px;
}

#nav_icon,
.hamburger {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

@media (max-width: 600px) {
  .hamburger,
  #nav_icon {
    display: block;
  }

  header .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header .nav a {
    margin: 5px 0;
    margin-right: 0;
  }

  header {
    height: auto;
  }

  .abc,
  .navbar-logo {
    display: none;
  }
}
