@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;1,200;1,300&display=swap");

header {
	width: 100%;
	background-color: #070b34;
	/* background: linear-gradient(180deg, #FFFFFF 0%, #000000 100%), linear-gradient(90deg, #FFFFFF 0%, #000000 100%), #00FFFF; */
	background-blend-mode: multiply, screen, normal;
}
.main_div {
	position: sticky;
	top: 0;
	position: -webkit-sticky;
	z-index: 999;
}
header .nav {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
	align-items: center;
}
header .nav a {
	text-decoration: none;
	color: white;
	font-size: 17px;
	margin-top: 20px;
	padding: 10px 11px;
	margin-right: 15px;
	font-family: "Jost", sans-serif;
	justify-content: right;
}
.nav_elem {
	font-size: 25px;
}

#nav_icon {
	display: none;
}

.hamburger {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 25px;
}

@media (max-width: 600px) {
	.hamburger {
		display: block;
	}
	.header {
		height: 7rem;
	}
	.abc {
		display: none;
	}
	#nav_icon {
		display: block !important;
	}
	.navbar-logo {
		display: none;
	}
}
