.cart_div {
  display: flex;
  justify-content: space-between;
}
.main_div {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 23% 63%;
	margin-bottom: 20px;
	margin-top: 20px;
  align-items: center;
	background-color: #070b34;
	border-radius: 1rem;
}
.side{
  width: 25rem;
}
.side_div{
  position: fixed;
  height:max-content;
  top:30;
  /* bottom: 10; */
  right:0;
  background:white;
  /* width: 25rem; */
  margin: 3rem 1rem;
}
.img {
	height: 17rem;
	width: 16rem;
	border-radius: 1rem;
  margin-left:.5rem;
}

.text {
	display: inline;
	width: 80%;
	margin: auto;
}

.read-or-hide {
	color: rgb(192, 192, 192);
	cursor: pointer;
}
.delete_btn {
	margin-top: .5rem;
  color: brown !important;
  border:1px solid brown;
  padding:0;
}
.discount {
	color: brown;
  font-size: 1.5rem;
}
.order_btn {
	color: brown;
	margin-left: 40%;
	width: 20%;
}
.details{
  padding:2rem 2rem;
}
.prod_description{
	color:red !important
}
@media only screen and (min-width: 0px) and (max-width: 580px) {
	.product_name {
		font-size: 15px !important;
	}
	.prod_description {
		font-size: 5px !important;
	}
}

@media only screen and (min-width: 581px) and (max-width: 880px) {
	.product_name {
		font-size: 22px !important;
	}
	.prod_description {
		font-size: 15px !important;
	}
}
